/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

header {
    background-color: #e1ad01;
    color: white;
    padding: 10px 0;
    text-align: center;
}

* {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  background-color: white;
  margin: 2rem;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
}

.menu-icon {
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links li a {
  color: #333;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-links li a:hover {
  color: #555;
}

.dropdown {
  padding: 1rem;
  position: relative;
}

.dropdown-content {
  opacity: 0;
  pointer-events: none;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropbtn {
  cursor: pointer;
  color: white;
  background-color: #007bff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}
.hero {
  color: white;
  text-align: center;
  padding: 50px;
  /* background-color: #f1f1f17f; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.user-types a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #e1ad01;
    color: white;
    text-align: center;
    padding: 10px 0;
}
